* {
  box-sizing: border-box;
}

body {
  background-color: rgba(128, 128, 128, 0.349);
}

#zegar {
  display: flex;
  color: coral;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  background-color: blanchedalmond;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100vw;
}
