* {
  box-sizing: border-box;
}
body {
  background-color: rgba(7, 211, 7, 0.267);
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.name{
  color: green;
}