* {
  box-sizing: border-box;
}

h2 {
  font-weight: 00;
}

#footer {
  height: 70px;
  width: 100%;
}

.listaol {
  margin-left: 50px;
}

#buttonblock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
